* {
    font-family: "Candara Light", serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    background-image: url("https://les-echiquiers-du-roi.fr/cdn/shop/products/jeu-echecs-vert-staunton_1200x.jpg?v=1619635795");
    background-size: cover;
    height: 100%;
}

h1 {
    font-size: 5em;
    color: darkslategray;
    text-shadow: 2px 2px beige;
}

body {
    color: white;
    background-color: darkslategray;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    height: fit-content;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 1em;
    gap: 3px;
}

.stickers {
    display: flex;
    margin-top: 50%;

}

.menu {
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

a {
    color: darkcyan;
}

a:hover {
    color: black;
}

ul {
    margin: 0 3em;
    border-radius: 4px;
}

.actual {
    color: cadetblue;
    font-weight: bold;
    background: white;
    border-radius: 15px;
    padding: 0.3em;
}

.reseaux img {
    width: 50px;
    height: 50px;
    margin: 0.5em;
}

section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}